@font-face {
    font-family: Century-Gothic;
    src: url('../fonts/century-gothic.ttf');
}

:root {
  --placeholder-color: #373737;
  --grand-width: 480px;
}

#second-step {
    display: none;
}

#third-step {
    display: none;
}

body {
    margin: 0px;
    font-family: Century-Gothic;
    color: black;
    background-color: white;
}

.form-step {
    text-align:center;
}

.cover {
    margin: 0 auto;
    color: white;
    width: var(--grand-width);
    height: calc(var(--grand-width)/16*9);
    background-align: center;
    background-image: url("https://images.wallpaperscraft.com/image/northern_lights_aurora_starry_sky_134859_3840x2160.jpg");
    background-size: 100%;
    border-radius: 25px;
}

.cover-pattern {
    width: var(--grand-width);
    height: calc(var(--grand-width)/16*9);
    background: rgba(40,40,90,0.35);
    border-radius: 25px;
}

input[type=text],
input[type=email] {
    width: 125px;
    height: 24px;
    font-size: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #d3d3b3, #d1d1d1);
    background: -moz-linear-gradient(top, #d3d3b3, #d1d1d1);
    background: -o-linear-gradient(top, #d3d3b3, #d1d1d1);
    background: -ms-linear-gradient(top, #d3d3b3, #d1d1d1);
    background: linear-gradient(top, #d3d3b3, #d1d1d1);

}

input[type=text]::placeholder {
    color: var(--placeholder-color);
}

input[type=email]::placeholder {
    color: var(--placeholder-color);
}

input[type=text]:-webkit-input-placeholder {
    color: var(--placeholder-color);
}

input[type=email]:-webkit-input-placeholder {
    color: var(--placeholder-color);
}

input[type=text]:-moz-placeholder {
    color: var(--placeholder-color);
}

input[type=email]:-moz-placeholder {
    color: var(--placeholder-color);
}

input[type=text]:-ms-input-placeholder {
    color: var(--placeholder-color);
}

input[type=email]:-ms-input-placeholder {
    color: var(--placeholder-color);
}

.enroll {
    width: 60px;
    height: 24px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background: rgba(216,214,68,1);
}

.content {
    width: var(--grand-width);
    margin: 0 auto;
}
table {
    width: var(--grand-width);
    border-spacing: 0px 0px;
}

.css-s1 tr:nth-child(4n+2) {
    background: #ddd;
}

.css-s1 tr:nth-child(4n) {
    background: #fafafa;
}

.donation {
    margin: 0 auto;
    width: var(--grand-width);
    height: calc(var(--grand-width)/4);
    background-image: url('../images/obraz.png');
    background-align: center;
    background-size: 100% 100%;
    border-radius: 25px;
}

.donation-pattern {
    margin: 0 auto;
    width: var(--grand-width);
    height: calc(var(--grand-width)/4);
    background: rgba(200,200,255,0.35);
    background-align: center;
    border-radius: 25px;
    color: white;
}

.donation-pattern p {
    text-align: center;
}

.donation-button {
    height: calc(var(--grand-width)/12);
    width: calc(var(--grand-width)/4);
    background: -webkit-linear-gradient(top, #F6F6E1, #D8CD53);
    background: -moz-linear-gradient(top, #F6F6E1, #D8CD53);
    background: -o-linear-gradient(top, #F6F6E1, #D8CD53);
    background: -ms-linear-gradient(top, #F6F6E1, #D8CD53);
    background: linear-gradient(top, #F6F6E1, #D8CD53);
    border: none;
    border-radius: calc(var(--grand-width)/16);
    display: block;
    margin: 0 auto;
}

.grey-button {

    background: #EFEFEF;
    border:none;
    border-radius: 5px;

}

.footer {
    height: 50px;
    padding: 20px;
    background-color: #2B2D52;
    color: white;
    text-align: center;
}

.chart {
    display: none;
}
