body {
    margin: 0px;
    font-family: sans-serif;
    color: black;
    background-color: white;
}

.cover {

    color: white;
    height: 250px;
    background-image: url("https://image.freepik.com/darmowe-wektory/gielda-lub-wykres-handlu-forex-w-koncepcji-graficznej_73426-429.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
    border-radius: 25px;
}

.footer {
    padding: 20px;
    height: 50px;
    background-color: #2B2D52;
    color: white;
    text-align: center;
}

.chart {
    display: none;
}
