body {
    font-family: sans-serif;
    color: black;
    background-color: white;
}

.cover {

    color: white;
    height: 250px;
    /*background-image: "../images/tlo1.jpg";*/
    background-color: blue;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.footer {
    background-color: #2B2D52;
    color: white;
    text-align: center;
}

.chart {
    display: none;
}
