body {
    margin: 0px;
    font-family: sans-serif;
    color: black;
    background-color: white;
}

.cover {
    margin: 0 auto;
    color: white;
    height: 270px;
    width: 480px;
    background-align: center;
    background-image: url("https://images.wallpaperscraft.com/image/northern_lights_aurora_starry_sky_134859_3840x2160.jpg");
    background-size: 100%;

    border-radius: 25px;
}

.cover-pattern {
    height: 270px;
    width: 480px;
    background: rgba(40,40,90,0.35);
    border-radius: 25px;
}

.donation {
    margin: 0 auto;
    height:120px;
    width: 480px;
    background-image: url('images/obraz.png');
    background-align: center;
    background-size: 100% 100%;
    border-radius: 25px;
}

.donation-pattern {
    margin: 0 auto;
    height:120px;
    width: 480px;
    background: rgba(200,200,255,0.35);
    background-align: center;

    border-radius: 25px;
}

.footer {
    height: 50px;
    padding: 20px;
    background-color: #2B2D52;
    color: white;
    text-align: center;
}

.chart {
    display: none;
}
