{% extends 'base.html' %}

{% block body %}
<div class="body">
    {% block cover %}

    <div class="cover">
        {% block title %}
            <h1>predictable</h1>
        {% endblock %}

        {% block form %}
        <div class="form-step" id="first-step">
            <p>Enroll for a newsletter</p>
            <p>Stay aware of crucial moments</p>

            <input type="email" name="email" id="email" />
            <button onclick="secondStep('email', 'first-step')" class="enroll">
                Enroll
            </button>

            <p><a href="/exit">Stop getting notifications</a></p>
        </div>

        <div class="form-step" id="second-step">
            <button onclick="goToFirstStep('second-step')">
                Back
            </button>
            <p>Confirm your e-mail</p>

            <input type="text" name="code" id="code" />
            <button onclick="thirdStep('email', 'code', 'second-step')" class="enroll">
                Confirm
            </button>
        </div>

        <div class="form-step" id="third-step">
            <button onclick="goToFirstStep('third-step')">
                Back
            </button>
            <p>You have been enrolled successfully!</p>
        </div>
        {% endblock %}
    </div>
    {% endblock %}

    {% block content %}
    <div class="content">
        <input type="radio" id="price" name="table-radio" value="price" checked onclick="getRadioValue()" />
        <label for="price">Price</label>
        <input type="radio" id="change" name="table-radio" value="change" onclick="getRadioValue()" />
        <label for="change">Change (in units)</label>
        <input type="radio" id="percent" name="table-radio" value="percent" onclick="getRadioValue()" />
        <label for="change">Change (in percent)</label>

        <table class="table css-s1" id="table">

            <tr>
                <td></td>
                {% for idx in range(4) %}
                    <td class="table-header" id="past-day-{{idx}}">past</td>
                {% endfor %}

                {% for idx in range(3) %}
                    <td class="table-header" id="future-day-{{idx}}">future</td>
                {% endfor %}
            </tr>

            {% for currency in ['Bitcoin', 'Ethereum', 'Ripple', 'Tether', 'Bitcoin-cash', 'Cardano', 'Litecoin', 'EOS', 'Chainlink', 'Tezos'] %}
            <tr>
                <td class="currency-name">{{currency}}</td>
                {% for idx in range(4) %}
                    <td class="{{currency}}-values table-values" id="{{currency}}-past-{{idx}}">1.0</td>
                {% endfor %}

                {% for idx in range(3) %}
                    <td class="{{currency}}-values table-values" id="{{currency}}-future-{{idx}}">2.0</td>
                {% endfor %}
                <td>
                    <button onclick="showChart('{{currency}}')">View</button>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <canvas id="{{currency}}-chart" class="chart"></canvas>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endblock %}

    {% block donation %}
    <div class="donation">
        <div class="donation-pattern">
        <p>Help us growing up</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="LKHCTDTSEKK7E" />
            <input type="submit" name="submit" value="Donate" />
        </form>
        </div>
    </div>
    {% endblock %}

    {% block footer %}
    <div class="footer">
        <p>Predictables 2020</p>
    </div>
    {% endblock %}
</div>
{% endblock %}